{% extends 'base.html.twig' %}

{% block body %}
<a class="btn btn-default" href="/todos">Back to all todos</a>
<hr>
<h1 class="page-header">Create Todo</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}